@model Parcial2.Models.VW_REGISTRO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VW_REGISTRO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FOLIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOLIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_DE_RECEPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_DE_RECEPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_DE_ENTREGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_DE_ENTREGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_DEL_LABORATORIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_DEL_LABORATORIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANTIDAD_DE_MUESTRAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANTIDAD_DE_MUESTRAS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RUT_DEL_CLIENTE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
